@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Defining general theme*/

:root {
  --text-color: #222;
  --bkg-color: #fff;
  --icon-color: rgb(40, 114, 113);
  --btn-color: rgb(40, 114, 113);
  --btn-bkg: #fff;
  --btn-color-hvr: #fff;
  --btn-bkg-hvr: rgb(40, 114, 113);
}
[data-theme="dark"] {
  --text-color: #eee;
  --bkg-color: #121212;
  --icon-color: #eee;
  --btn-color: #eee;
  --btn-bkg: rgb(40, 114, 113);
  --btn-color-hvr: rgb(40, 114, 113);
  --btn-bkg-hvr: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
}

h1,
p {
  color: var(--text-color);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bkg-color);
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

/* Simple css to style it like a toggle switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  bottom: 36%;
  right: 2%;
  color: var(--text-color);

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

/* LOADING ANIMATION */

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--bkg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid rgb(40, 114, 113);
    border-bottom:12px solid var(--bkg-color);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*HEADER NAVBAR*/

header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
.navbar-brand img {
  width: 30px;
}
#logo {
    width:20%;
    font-size:24px;
    color:rgb(40, 114, 113);
}

#navigation {
    width:80%;
    text-align:right;
}

#navigation a {
    color:inherit;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}

/* TOP PART */

#top_part {
    width:100%;
    border:2vh solid var(--bkg-color);
}
#top_part tr td{
    width:50%;
}

/* ABOUT SECTION */
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:var(--icon-color);
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover {
    cursor: pointer;
    color:#fff;
    background:rgb(40, 114, 113);
    box-shadow:0px 10px 30px rgba(40, 136, 130,0.8);
}
.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:var(--btn-color);
    background:var(--btn-bkg);
    border:3px solid rgb(40, 114, 113);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(40, 114, 113, 0.8);
    cursor:pointer;
    color:var(--btn-color-hvr);
    background:var(--btn-bkg-hvr);
}

/* PICTURE ON THE RIGHT */
#rightImage {
    width:100%;
    height:95vh;
    background:linear-gradient(0deg,rgba(40, 114, 113, 0.8),rgba(2255, 44, 90, 0)),url("https://images.unsplash.com/photo-1506057527569-6a0285b2fcc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=60") center center;
    background-size:cover;
    background-repeat:no-repeat;
}

/* PROJECTS SECTION */

#projects {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#projects h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(40, 114, 113);
    width:10%;
}
.flip-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.flip-card {
  background-color: transparent;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--bkg-color);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--bkg-color);
  color: var(--text-color);
  transform: rotateY(180deg);
}
.flip-card-back p {
  font-size: 18px;
  padding: 8px;
}

/* PHOTOGRAPHY SECTION */

#photography {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#photography h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(40, 114, 113);
    width:15%;
}
.link-card, .link-card:hover {
  color: inherit;
  text-decoration:none;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition:0.4s ease-in-out;
}
.card-category:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* BIO SECTION */

#bio {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(40, 114, 113);
    width:8%;
}

/* CONTACT SECTION */

#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(40, 114, 113);
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
    color: var(--text-color);
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(40, 114, 113,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:var(--text-color);
    font-weight:bold;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(40, 114, 113,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:var(--text-color);
    font-weight:bold;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(40, 114, 113,1);
}
#contact form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1; /* Firefox */
}

#contact form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text-color);
}

#contact form input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--text-color);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(40, 114, 113,1);
}
#contact form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1; /* Firefox */
}

#contact form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text-color);
}

#contact form textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--text-color);
}
#address {
    position:relative;
    top:-25px;
    left:30px;
}

/*FOOTER*/

#footer {
    width:100%;
    padding:8vh 0px;
    text-align:center;
    font-weight:bold;
    position: relative;
}
#footer a {
    color:rgb(40, 114, 113);
    text-decoration:none;
}

.footer-logo {
  align-items: center;
  margin-right: 18px;
  vertical-align: middle;
  width: 100%;
  color: var(--text-color);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-left: 6px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: rgb(40, 114, 113);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8);
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:35vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(40, 114, 113, 0.8);
    background:var(--btn-bkg);
    color:var(--btn-color);
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(40, 114, 113, 0.8);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #projects h1 {
        width:19%;
    }
    #photography h1 {
        width:19%;
    }
    .flip-cards {
      grid-template-columns: 1fr;
    }
    .cards {
    grid-template-columns: 1fr;
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:var(--bkg-color);
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:var(--text-color);
    }
    .theme-switch-wrapper {
      display: flex;
      align-items: center;
      vertical-align: middle;
      position: absolute;
      bottom: 6%;
      right: 2%;

      em {
        margin-left: 10px;
        font-size: 1rem;
      }
}
}
